<div class="container">

	<form class="form-signin">
		<div class="form-group">
			<label for="firstName">First Name:</label> <input type="text"
				name="firstName" ng-model="firstName" id="firstName">
		</div>
		<div class="form-group">
			<label for="lastName">Last Name:</label> <input type="text"
				name="lastName" ng-model="lastName" id="lastName">
		</div>
		<div class="form-group">
			<label for="username">Username:</label> <input type="text"
				name="username" ng-model="username" id="username">
		</div>
		<div class="form-group">
			<label for="email">Email:</label> <input type="email" name="email"
				ng-model="email" id="email">
		</div>
		<div class="form-group">
			<label for="address">Address:</label> <input type="text"
				name="address" ng-model="address" id="address">
		</div>
		<div class="form-group">
			<label for="phoneNum">Phone number:</label> <input type="text"
				name="phoneNum" ng-model="phoneNum" id="phoneNum">
		</div>
		<div class="form-group">
			<label for="password">Password:</label> <input type="password"
				name="password" ng-model="password" id="password">
		</div>
		<div class="form-group">
			<label for="passwordConfirm">Password confirm:</label> <input
				type="password"  name="password"
				ng-model="password" id="password">
		</div>
	</form>

</div>